﻿@using WasmExample.Shared;
<li>
	<span @onclick="ToggleShow">
		<a style="color:#000; text-decoration:none;" data-toggle="collapse" aria-expanded="@((Show)? "true" : "false")" aria-controls="@FileSystemDirectory?.Name">
			<i class="collapsed"><i class="fas fa-folder"></i></i>
			<i class="expanded"><i class="far fa-folder-open"></i></i>
			 @FileSystemDirectory?.Name
		</a>
	</span>
	<div id="@FileSystemDirectory?.Link" class="collapse @((Show)? "show" : "")">
		<ul>
			@foreach (var directory in FileSystemDirectory?.Directories ?? new List<FileSystemDirectory>())
			{
				<Directory FileSystemDirectory="@directory" Show="false" />
			}
			@foreach (var file in FileSystemDirectory?.Files ?? new List<FileSystemFile>())
			{
				<File FileSystemFile="@file" />
			}
		</ul>
	</div>
</li>

@code {
	[Parameter]
	public FileSystemDirectory FileSystemDirectory { get; set; }
	[Parameter]
	public bool Show { get; set; } = false;

	public void ToggleShow()
	{
		Show = !Show;
	}
}
