﻿@using WasmExample.Shared;

<li>
	<span>
		<i class="far fa-file"></i>
		<a href="/download/@FileSystemFile?.Link">@FileSystemFile?.Name</a>
	</span>
</li>

@code {
	[Parameter]
	public FileSystemFile FileSystemFile { get; set; }
}
