﻿@using  WasmExample.Shared;

<div class="incoming_msg">
	<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	<div class="received_msg">
		<div class="received_withd_msg">
			<p>
				@Message.Message
			</p>
			<span class="time_date">@Message.User |  @Message.EmmitionDate.ToString("s")</span>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public ChatMessage Message { get; set; }
}
