﻿@using  WasmExample.Shared;

<div class="outgoing_msg">
	<div class="sent_msg">
		<p>
			@Message.Message
		</p>
		<span class="time_date">@Message.EmmitionDate.ToString("s")</span>
	</div>
</div>

@code {
	[Parameter]
	public ChatMessage Message { get; set; }
}
