﻿@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using WasmExample.Shared.HubMessages
@using WasmExample.Shared
@using WasmExample.Client.Components
@inject NavigationManager NavigationManager

<div class="container">
	<h3 class=" text-center">Chat</h3>
	<div class="messaging">
		<div class="mesgs">
			<div class="msg_history">
				@foreach (var message in Messages)
				{
					@if (message.User == _userInput)
					{
						<OutgoingMessage Message="@message"/>
					}
					else
					{
						<IncomingMessage Message="@message"/>
					}
				}
				<div class="type_msg">
					<div class="input_msg_write">
						<input type="text" class="write_msg" placeholder="Type a message" @bind="_messageInput" />
						<input type="text" class="write_msg" placeholder="Username" @bind="_userInput" />
						<button class="msg_send_btn" type="button" @onclick="Send" disabled="@(!IsConnected)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



@code {
	private string _userInput = string.Empty;
	private string _messageInput = string.Empty;
	private List<ChatMessage> Messages { get; } = new List<ChatMessage>();

	private HubConnection HubConnection { get; set; }

	protected override async Task OnInitializedAsync()
	{
		HubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri(ChatHubMessages.BaseUrl))
			.Build();

		HubConnection.On<ChatMessage>(ChatHubMessages.Receive, OnReceive);

		await HubConnection.StartAsync();
		GetHistory();
	}

	public async Task Send() 
	{
		await HubConnection.SendAsync(ChatHubMessages.Send, new ChatMessage
		{
			User = _userInput,
			Message = _messageInput
		});
		_messageInput = string.Empty;
	}

	private bool IsConnected => HubConnection.State == HubConnectionState.Connected;
	private async void GetHistory()
	{
		var messages = await HubConnection.InvokeAsync<IEnumerable<ChatMessage>>(ChatHubMessages.GetHistory);
		Messages.Clear();
		foreach (var message in messages)
		{
			Messages.Add(message);
		}
		StateHasChanged();
	}

	private void OnReceive(ChatMessage message)
	{
		Messages.Add(message);
		StateHasChanged();
	}
}
