﻿@page "/filesystem"
@using Microsoft.AspNetCore.SignalR.Client;
@using WasmExample.Shared.HubMessages;
@using WasmExample.Shared;
@using Microsoft.Extensions.DependencyInjection;
@using WasmExample.Client.Components;
@inject HttpClient Http;
@inject NavigationManager NavigationManager;

<h3>FileSystem</h3>
<div class="tree ">
	<ul>
		<Directory FileSystemDirectory="@FileSystemTree" Show="true"/>
	</ul>
</div>


<button @onclick="Refresh">Refresh</button>

@code {
	private FileSystemDirectory FileSystemTree { get; set; }
	private HubConnection HubConnection { get; set; }

	protected override async Task OnInitializedAsync()
	{
		HubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri(FileSystemHubMessages.BaseUrl))
			.WithAutomaticReconnect()
			.AddNewtonsoftJsonProtocol()
			.Build();

		HubConnection.On(FileSystemHubMessages.DirectoryChangedMessage, Refresh);

		await HubConnection.StartAsync();
		Refresh();
	}

	public async void Refresh() => OnDirectoryChanged(await HubConnection.InvokeAsync<FileSystemDirectory>(FileSystemHubMessages.CurrentState));

	private void OnDirectoryChanged(FileSystemDirectory files)
	{
		FileSystemTree = files;
		StateHasChanged();
	}
}
