﻿@page "/todo"
@using WasmExample.Shared

<h1>Todo (@todos.Count(todo => !todo?.IsDone ?? true))</h1>

<ul>
	@foreach (var todo in todos)
	{
		<li>
			<input type="checkbox" @bind="todo.IsDone" />
			<input @bind="todo.Title" />
		</li>
	}
</ul>

<input placeholder="Something to do" @bind="newTodo"/>
<button @onclick="AddTodo">Add Todo</button>

@code {
	private IList<TodoItem> todos = new List<TodoItem>();
	private string newTodo;

	private void AddTodo()
	{
		if(!string.IsNullOrWhiteSpace(newTodo))
		{
			todos.Add(new TodoItem { Title = newTodo });
			newTodo = string.Empty;
		}
	}
}
